<h1>Title</h1><%= post.title %>
<h1>Description</h1><%= post.description %>
<h1>Image</h1><%= image_tag post.avatar if post.avatar.attached? %>

<%= render 'comments/form' %>

<h1>Comment</h1>

<% post.comments.each do |comment| %>
	<%= comment.comment %>
		<%= link_to "Edit", edit_post_comment_path(post, comment.id) if comment.id.present? %>
	</br>
<% end %> 
